@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>Esenina str. 31/3</p>
    <p>tel: +375-44-573-63-35</p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Shadowcatcher50@gmail.com</a><br />
</address>