@model List<WebShop.Models.CatalogOneCategoryModel>
@{
    ViewBag.Title = "Category";
}

@foreach (var i in Model)
{
<ul>
    <li>Название: <a href="/Catalog/ProductView?ProductName=@i.ProductName">@i.ProductName</a></li>
    <li>Цена за еденицу: @i.ProductPrice</li>
</ul>
}

<h2>Category</h2>

