@model List<WebShop.Models.CatalogOneCategoryModel>
@{
    ViewBag.Title = "Category";
}

@foreach (var i in Model)
{
<ul>
    <li><a href="/Catalog/ProductView?ProductName=@i.ProductName">@i.ProductName</a></li>
    <li>@i.ProductPrice</li>
</ul>
}

<h2>Category</h2>

