@model DBRepository.Models.Product

@{
    ViewBag.Title = "View";
}

<ul>
    <li>@Model.ProductName</li>
    <li>@Model.ProductCategory</li>
    <li>@Model.ProductPrice</li>
    <li>@Model.ProductDescription</li>
</ul>

