@model WebShop.Models.OrderListModel

@{
    ViewBag.Title = "Index";
}

Ваши заказы:
@if (User.Identity.IsAuthenticated)
{
    foreach (var i in Model.OrderedProducts)
    {
        <ul>
            <li>Название продукта: @i.ProductName</li>
            <li>Цена: @i.ProductPrice</li>
            <li>Заказано: @i.ProductQuantity</li>
        </ul>
    }
}

