@model WebShop.Models.OrderListModel

@{
    ViewBag.Title = "Index";
}

Ваши заказы:
@if (User.Identity.IsAuthenticated && Model != null)
{
    using (Html.BeginForm("ApplyOrder", "Order", FormMethod.Post))
    {
        foreach (var i in Model.OrderedProducts)
        {
            <ul>
                <li>Название продукта: @i.ProductName</li>
                <li>Цена: @i.ProductPrice</li>
                <li>Заказано: @i.ProductQuantity</li>
            </ul>
        }
        <input type="submit" value="Подтвердить заказ" />
    }
}
else
{
    <div> пока заказов нет</div>
}

